@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --green-color: #2fac66;
    --green-hover-color: #218838;
    --blue-color: #3b568e;
    --gray-hover-color: #D9D9E3;
    --gray-color: gray;
    --white-color: #ffffff;
    --input-color: #eaeaea;
    --border-color: #ccc;
    --text-color: #000000;
    --background-overlay: rgba(255, 255, 255, 0.95);
    --box-shadow-color: rgba(0, 0, 0, 0.2);
  }

  html, body {
    height: 100%;
    margin: 0;
  }
  
  * {
    font-family: 'Roboto', sans-serif;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .login-container .form-container {
    background: var(--background-overlay);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px var(--box-shadow-color);
    text-align: center;
    width: 20%;
    margin-right: 60%;
  }
  
  .logo {
    max-width: 150px;
    margin-bottom: 1rem;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .input-group label {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: var(--blue-color);
  }
  
  .input-group input {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: var(--input-color);
    border: none;
    border-radius: 4px;
  }
  
  .submit-btn {
    background-color: var(--green-color);
    color: var(--white-color);
    padding: 0.7rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: var(--green-hover-color);
  }
  
  @media (max-width: 768px) {
    .login-container .form-container {
      width: 50%;
      padding: 1.5rem;
      margin-left: 10%;
      margin-right: 20%;
    }
  
    .logo {
      max-width: 80px;
    }
  
    .submit-btn {
      font-size: 0.9rem;
      padding: 0.6rem;
    }
  }
  