  .calendar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 10px;
  }


.react-calendar__tile {
  border-radius: 100%; 
  height: 40px; 
  max-width: 40px !important;
  transition: transform 0.2s;
  margin: 10px; 
  position: relative; 
  overflow: visible !important;
}

.react-calendar__tile:hover {
  transform: scale(1.1);
  background: none !important;
    background-color: var(--green-hover-color) !important;
    color: white !important
}

.react-calendar__month-view__days__day {
    margin: 5px; 
}

.react-calendar__month-view__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    gap: 10px; 
    justify-content: center;
    align-items: center;
}

.disabled-day {
    background-color: #f0f0f0 !important; 
    color: #d0d0d0 !important; 
    pointer-events: none; 
  }

  .react-calendar {
    border: none
  }

  .react-calendar__tile span {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px; 
  }
  
  .disabled-day, .bubble-gray, .bubble-red, .bubble-green, .bubble-orange {
    margin: 5px; 
  }

  .bubble-blue {
    background-color: var(--blue-color) !important;
    color: white !important;
    cursor: pointer;
  }
  
  .bubble-green {
    background-color: var(--green-hover-color) !important;
    color: white !important;
    cursor: pointer;
  }

  .bubble-gray {
    background-color: #f5f5f5 !important;
    border-radius: 50%;
    color: white !important;
  }

  .bubble-dark-gray {
    background-color: var(--gray-color) !important;
    border-radius: 50%;
    color: white !important;
  }

  .bubble-dark-gray-circle{
    background-color: var(--gray-color) !important;
    border-radius: 50%;
    color: white !important;
    box-sizing: border-box;
    border: solid 5px var(--blue-color) !important;
  }

  .bubble-dark-gray-circle abbr{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .bubble-orange {
    background-color: orange !important;
    border-radius: 50% !important;
    color: white;
  }

  .bubble-half {
    background: linear-gradient(to right, var(--blue-color) 50%, orange 50%) !important;
    border-radius: 50% !important;
    color: white !important;
  }
  

  .disabled-day {
    color: lightgray !important;
    pointer-events: none;
  }
  
  .calendar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .calendar-section {
    flex: 3;
  }
  
  .weekly-hours-summary {
    flex: 1;
    margin-left: 20px;
    padding: 10px;
    margin-top: 8.5%;
  }
  
  .weekly-hours-summary {
    flex: 1;
    margin-left: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .weekly-hours-summary h3 {
    font-size: 1em;
  }
  
  .weekly-hours-summary ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .weekly-hours-summary li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .hours-value {
    text-align: right;
  }


  