.daily-timetable-sheet {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-container {
  background-color: var(--blue-color); 
  color: #ffffff; 
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 100%;
}

.date-container h2 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: bold;
  color: white;
}

.status-section,
.time-section,
.expense-section,
.action-section {
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
}

input,
select
{
  margin-bottom: 10px;
  padding: 8px;
}

input
{
  margin-left: 2%;
}

.expense-item {
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
}


.status-oncall-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

input[type="checkbox"] {
  margin-left: 10px;
  transform: scale(1.2);
  margin-top: 10px;
}

.oncall-container {
  display: flex;
  align-items: center;
}

.oncall-container label {
  margin-right: 10px;
}

.status-container label,
.status-container select,
.status-container input[type="checkbox"] {
  margin: 0; 
  white-space: nowrap;
  display: inline-block;
}

select,
input[type="checkbox"] {
  cursor: pointer;
  padding: 5px;
  margin-top: 10px;
}

.status-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 20px; 
  flex-wrap: nowrap;
}

.asterinte-checkbox {
  display: flex;
  align-items: center;
  margin-left: 20px; 
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

button.save-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: var(--blue-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.save-button:hover {
  background-color: #0056b3;
}

button.cancel-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: var(--gray-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.cancel-button:hover {
  background-color: var(--gray-hover-color);
  color: black;
}
  
button {
  color: var(--blue-color);
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 4px;
}
  
.time-slot-item, 
.new-time-slot-item, 
.expense-note-item, 
.new-expense-note-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px; 
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 4px; 
}

.time-slot-item select,
.new-time-slot-item select,
.time-slot-item input[type="time"],
.new-time-slot-item input[type="time"],
.expense-note-item input,
.new-expense-note-item input {
  flex: 1;
  min-width: 80px;
  margin: 0 5px;
  padding: 8px; 
}

.time-slot-item button,
.new-time-slot-item button,
.expense-note-item button,
.new-expense-note-item button {
  padding: 5px 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.time-slot-item button:hover,
.new-time-slot-item button:hover,
.expense-note-item button:hover,
.new-expense-note-item button:hover {
  color: red; 
}

.time-slot-container, 
.expense-container {
  width: 100%;
}

.expense-note-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.expense-reports-container {
  width: 100%; 
  box-sizing: border-box;
}

button.add-expense-button {
  color: var(--blue-color);
  border: none;
  cursor: pointer;
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 8px;
}


button.add-time-slot-button {
  color: var(--blue-color);
  border: none;
  cursor: pointer;
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 8px;
}

.compliance-check-result {
  background-color: #f9f9f9; 
  border: 1px solid #ddd; 
  border-radius: 8px;
  padding: 20px; 
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.compliance-check-result-title {
  font-weight: bold; 
  color: #842029;
  margin-top: 0;
  margin-bottom: 10px; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.compliance-check-result-title span{
  margin: 0 10px;
}

.compliance-check-result-list {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
}

.compliance-check-result-item {
  background-color: #f8d7da; 
  color: #842029; 
  border: 1px solid #f5c2c7; 
  border-radius: 5px; 
  padding: 10px; 
  font-weight: 500;
}

.button-container :disabled {
  background-color: #ccc;
  color: #666; 
  cursor: not-allowed; 
  border: 1px solid #aaa;
  pointer-events: none; 
}

.button-container button:disabled:hover {
  background-color: #ccc; 
  color: #666;
  border: 1px solid #aaa;
  cursor: not-allowed;
}
