.mensual-timetable {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: Arial, sans-serif;
    margin-top: 67px;
  }

  h2 {
    font-size: 1em;
  }
  
  .mensual-timetable {
    background-color: #f2f2f2; 
    min-height: 100vh;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .timetable-container {
    background-color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    width: 100%;
    max-width: 800px; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
  }
  