:root {
    --green-color: #2fac66;
    --green-hover-color: #218838;
    --blue-color: #3b568e;
    --white-color: #ffffff;
    --input-color: #eaeaea;
    --border-color: #ccc;
    --text-color: #000000;
    --background-overlay: rgba(255, 255, 255, 0.95);
    --box-shadow-color: rgba(0, 0, 0, 0.2);
  }
  
  .user-dashboard {
    display: flex;
    padding: 20px;
    background-color: #f9f9f9;
    margin-top: 67px;
  }
  
  .user-info, .fiches-horaires {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .user-info {
    flex: 1;
    margin-right: 20px;
  }
  
  .user-info h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
  }
  
  .info-item {
    margin-bottom: 15px;
    margin-right: 4%;
  }
  
  .info-item label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  .info-item input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  .fiches-horaires {
    flex: 2;
  }
  
  .fiches-horaires h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
  }
  
  .fiches-list {
    display: flex;
    gap: 20px;
  }
  
  .fiche-card {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
  }
  
  .fiche-card h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  
  .fiche-card p {
    color: #888;
    margin-bottom: 10px;
  }
  
  .view-button {
    background-color: var(--blue-color);
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .view-button:hover {
    background-color: #003a8b;
  }

  p.status-green {
    color: var(--green-color);
  }
  
  p.status-orange {
    color: orange;
  }
  
  p.status-gray {
    color: gray;
  }

  .fiche-card:hover {
    background-color: #f0f0f0; 
    transition: background-color 0.3s ease; 
    cursor: pointer;
  }
  
  
 