.user-dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  margin-top: 67px;
}

.user-info-container {
  display: flex;
  gap: 20px;
  margin-bottom: 30px; /* Espacement entre UserInfo/MonthlyTimetables et Permissions */
}

.user-info {
  flex: 1; /* Prend la moitié de l'espace */
  background: var(--white-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.monthly-timetables {
  flex: 1; /* Prend la moitié de l'espace */
  background: var(--white-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--box-shadow-color);
}

.permissions-container {
  background: var(--white-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--box-shadow-color);
}

.permissions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.permissions-header h2 {
  font-size: 1.2rem;
  color: var(--blue-color);
}

.add-permission-button {
  background-color: var(--green-color);
  color: var(--white-color);
  border: none;
  padding: 10px 15px;
  font-size: 0.9rem;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.add-permission-button:hover {
  background-color: var(--green-hover-color);
}

.permission-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.permission-item {
  background-color: var(--input-color);
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--border-color);
}

.permission-item span {
  color: var(--text-color);
  font-size: 1rem;
}

.permission-item button {
  background-color: var(--blue-color);
  color: var(--white-color);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.3s;
}

.permission-item button:hover {
  background-color: #324b73;
}

.search-permission {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.search-permission input {
  flex: 1;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 0.9rem;
}

.view-documents-button {
  background-color: var(--green-color);
  color: var(--white-color);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  justify-content: center;
  text-decoration: none;
}

.view-documents-button:hover {
  background-color: var(--green-hover-color);
}

.file-icon {
  margin-right: 8px;
  font-size: 1.2rem;
}
